
@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}
h1 {
  text-align: center;
  font-family: cursive;
  padding-top: 10%;
  font-size: xx-large;
  color: aliceblue;
  /* margin-bottom: 50px; */
}
h2 {
  text-align: left;
  font-family: cursive;
  color: white;
  margin-bottom: 0;
  
}

.BackgroundSreenHome{
  text-align: center;
  height:100vh;
  width: 100vw;
  background-image: url('/images/cup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    }

.Login-input{
  margin: 15px;
  width: 400px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    border-color: white;
    background-color: rgba(63,169,255,0.5);
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-image: url('/images/bundle.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


